<body>
<h1>Welcome to our app!!</h1>
<h2>Aleisha Nelson & Jack Roof</h2>
<h3>It is currently <%= @time %></h3>
<a href="/home"><button type="button" class="btn btn-primary btn-lg">Enter</button></a>
<%= render "layouts/footer"%>
<%= yield %>
</body>
