<%= render "layouts/navbar" %>
<body style="font-family: 'Lato', sans-serif;">
<title> FAQ </title>
    <div id="team-container" style="padding:25px;margin:25px;">
      <div id="Title_header">
        <h1 style="text-align:center;font-family: 'Lobster', cursive;font-size:75px;">Frequently Asked Questions </h1>
          <p style="color:grey;text-align:center;"> If you have a question that isn't listed below, feel free to contact us!</p>
        </br>
      </div>
<hr>
</br>
        <h3>1. How do I know if my money was actually put to towards the use that was listed?</h3>
        <p> We keep our donors informed by requiring that Charity organizations follow up with their donors and give them details about how the money helped their cause.</p>

        </br></br>

        <h3>2. What if I don’t have $25 to donate, but still want to help out?</h3>
        <p>No problem! Send us a message through our <a href="#">contact form</a>. We’d love to discuss other ways you can still give back. Our Charity organizations are very accommodating and open to new ideas!</p>

        </br></br>

         <h3>3. What if I want to donate to a Charity, but not to one of the people or programs that are listed on this site?</h3>
         <p>Send us a message here and we can reach out to the Charity organization for you or help point you in the right direction so you can reach out to them yourself.</p>


        </br></br>

        <h3>4. What if I’m looking for donations myself, how do I set up an account?</h3>
        <p>If you have a fundraising goal and would like our help, you must first contact us or a specific Charity organization in order to apply for an account. Charity Organizations approve all of the personal profiles and program donation accounts.</p>

      </br></br>

      <h3>5. I have another great idea! How do I get involved with TransparenC?</h3>
      <p>Send us a message! We’d love to chat. We’re open to new ideas and constantly looking for ways to improve our site and ways to give back to our community. </p>

    </br></br>  </br></br>



    </div>
  </div>
<%= render "layouts/footer"%>
<%= yield %>
</body>
