
<%= render "layouts/navbar" %>
<body style="font-family: 'Lato', sans-serif;">
<h1 style="text-align:center;font-size:75px;">About <span style="font-family: 'Lobster', cursive;font-size:75px;">Helping Hand</span>  <span class="glyphicon glyphicon-heart"></span></h1>

</body>
<%= render "layouts/footer" %>
<% yield %>
