// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#container {
  background-color: beige;
}

#organization {
  text-align: center;
}

.img {
  border-radius: 10px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}
