<body>
<div id="footer">

<hr>

<div class="row">
	<div class="col-md-12">
		<span>&brvbar Helping Hand <span class="glyphicon glyphicon-heart"></span></span>
		<span> &brvbar Created by</span>
		<span><a href="https://github.com/jroof88/" target="_blank"> Jack Roof</a> & <a href="https://github.com/aleishanelson/" target="_blank"> Aleisha Nelson</a></span>
    <span> &brvbar Created @</span>
		<span><a href="http://hackforhumanity.io/" target="_blank"> SCU Hack 4 Humanity </a></span>
		<span>&brvbar Copyright&copy; 2017. &brvbar </span>
		<span><a href="https://github.com/jroof88/H4H" target="_blank"> Source Code </a></span>
	<div>
</div>
<br>
</div>
<%= yield %>
</body>
